.center {
    text-align: center;
    border: 2px solid black;
}

body {
    background-color: bisque;
}

div {
    padding:20px 20px 20px 20px;
    background-color: beige;
    margin-top: 20px;
}

#blinkies{
    background-color: transparent;
    margin-top:10px;
    text-align: center;
}

#socials{
    margin: 0 30% 0 30%;
}